# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Model file
saved_model/model.h5

# Dataset (DO NOT UPLOAD)
data/train/
data/val/
data/test/

# Logs
*.log

# Temporary files
*.tmp